#rowOne {
background-color: #E5454A;
}

#rowTwo {
  background-color: #558BD7;
}

#rowThree {
  background-color: #142437;
}

#rowFour {
  background-color: #EEF5F7;
}

#rowFive {
  background-color: #3F69AA;
}
table{
  margin: auto;
}
th.tableHeader {
  height:15em;
  width: 9em;
  background-color: blue;
  border: .5em solid white;
}

h3 {
  padding: 1em;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
